/* #FFCF76  Yellow*/
/* #e4e2e0 Light*/
/* #B5B1AE Medium */
/* #363537 Dark */

:root {
  --dark-color: #363537;
  --medium-color: #8f8a87;
  --light-color: #e4e2e0;
  --yellow-color: #ffcf76;
}

.header {
  color: var(--dark-color);
}

.sub-header {
  color: var(--medium-color);
}

body {
  font-family: "Poppins", sans-serif;
}

/* NavBar Styling */
.navbar {
  background-color: #e4e2e0c7;
}
.nav-item {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 15px;
  position: relative;
  display: block;
  padding: 4px 0;
  color: var(--medium-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.nav-item::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--yellow-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-item:hover {
  color: #95a5a6;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Home Page Styling */

.home-title {
  color: var(--dark-color);
  margin: 25% 5% 5%;
  padding-left: 10%;
  font-family: "Cinzel", serif;
  font-size: 6rem;
  background-image: linear-gradient(var(--yellow-color), var(--yellow-color));
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  border-radius: 20px;
  animation: fadeIn 1000ms;
}

.home-title:hover {
  transition: background-size 0.5s;
  background-size: 100% 100%;
  background-position-x: left;
}

.home-subtitle {
  padding-left: 15%;
  font-size: 2.7rem;
  animation: fadeIn 3000ms;
}

.home-content {
  padding-left: 15%;
  font-size: 1.8rem;
  font-weight: 300;
  animation: fadeIn 3000ms;
}

.home-img {
  display: flex;
  margin: auto;
  position: relative;
  top: 25%;
  transform: scaleX(-1);
  animation: fadeIn 3000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Socials Styling */

.socials {
  font-size: 3rem;
  position: relative;
  text-align: center;
  padding: 100px 0 0;
}
.social {
  color: var(--medium-color);
  padding: 10px 20px 20px;
  transition: transform 800ms, background-color 800ms;
  animation: pulse 500ms;
}

.social:hover {
  color: var(--dark-color);
  background-color: var(--yellow-color);
  border-radius: 20px;
  transform: scale(1.1);
}

.social:active {
  transform: scale(0.9);
  animation: none;
}

@keyframes pulse {
  from {
    box-shadow: var(--yellow-color) 0 0 0;
    border-radius: 20px;
  }
  to {
    box-shadow: var(--yellow-color) 0 0 0 10px;
    border-radius: 20px;
  }
}

/* About me */

.about-container {
  padding: 15% 5% 10%;
}

.about-title {
  color: var(--yellow-color);
  font-family: "Cinzel", serif;
  font-size: 3rem;
  padding-left: 50px;
}
.about-img {
  height: 380px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-content {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 50px 100px 0 50px;
}

/* Skills */

.skill-header {
  color: var(--yellow-color);
  font-family: "Cinzel", serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 30px;
}

.skill-subhead {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 5%;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  text-align: center;
  margin: 2%;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.skill-icon {
  color: var(--yellow-color);
  font-size: 4rem;
}

.skill-title {
  font-size: 1.5rem;
}

/* Promises */

.promises-title {
  color: var(--yellow-color);
  font-family: "Cinzel", serif;
  font-size: 4rem;
  text-align: center;
  padding: 5% 0;
}
.promise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promise-card {
  margin: 5% 10%;
}
.promises-img {
  height: 250px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.promises-content {
  font-size: 2rem;
  color: var(--medium-color);
  text-align: center;
  padding-top: 30px;
}

/* Projects */

.projects-title {
  color: var(--yellow-color);
  font-family: "Cinzel", serif;
  font-size: 4rem;
  text-align: center;
  padding: 5%;
}

.project-img {
  height: 300px;
  position: relative;
  border-radius: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0 80px;
}

.project-card {
  margin: 30px 30px 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #e4e2e073;
}

.card-thumb {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  margin: 0;
}

.card-thumb::after {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  margin: 0;
}

.project-card:hover .card-caption {
  height: 300px;
  border-radius: 20px;
  background-color: var(--medium-color);
  opacity: 0.98;
  transform: translateY(-100%);
  transition: 300ms;
}

.card-caption {
  padding: 30px 40px;
  color: var(--dark-color);
}

.card-title {
  font-size: 2rem;
  padding-bottom: 10px;
}

.card-content {
  font-size: 1.2rem;
  width: 450px;
}

.link-button {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 50px;
  color: var(--medium-color);
  border-radius: 20px;
  background-color: var(--yellow-color);
  border: solid 3px #ffcf76;
  padding: 17px;
}

.link-button:hover {
  background-color: var(--medium-color);
  color: var(--yellow-color);
}

.code-button {
  text-decoration: none;
  font-size: 2rem;
  color: var(--yellow-color);
  border: solid 3px #ffcf76;
  border-radius: 20px;
  padding: 7px 12px 17px;
}

.code-button:hover {
  color: var(--yellow-color);
}

/* Contact */
.contact-title {
  color: var(--yellow-color);
  font-family: "Cinzel", serif;
  font-size: 4rem;
  text-align: center;
}

.contact-sub {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 5%;
  color: var(--medium-color);
}

.contact-container {
  padding: 0 150px;
}

.contact-container .socials {
  padding: 0;
  top: 22%;
}

.contact-img {
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact-input {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 80px;
}

.contact-input input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border: 3px solid var(--medium-color);
  outline: none;
  background: #e4e2e073;
  padding: 10px;
  border-radius: 20px;
}

.contact-input span {
  position: absolute;
  top: 14px;
  left: 20px;
  transition: 600ms;
  z-index: -1;
  margin-left: 20px;
  color: var(--medium-color);
}

.contact-input input:focus ~ span,
.contact-input input:valid ~ span {
  transform: translateX(-10px) translateY(-70px);
  color: var(--yellow-color);
}

.message-box input {
  min-height: 200px;
}

.message-box {
  margin-bottom: 40px;
}

.contact-btn {
  font-size: 2rem;
  text-align: center;
  color: var(--medium-color);
  border-radius: 20px;
  background-color: var(--yellow-color);
  border: none;
  padding: 10px;
  width: 100%;
}

.contact-btn:hover {
  transform: translateY(-5px);
}

.email-text {
  text-align: center;
  color: var(--medium-color);
}

/* Footer */

.footer-container {
  background-color: #e4e2e073;
  margin-top: 25px;
  padding: 20px;
}

.footer-text {
  text-align: center;
  color: var(--medium-color);
}

/* Media Phone */
@media (max-width: 991px) {
  /* Home */
  .home-img {
    display: none;
  }
  .home-title {
    margin: 0;
    padding: 0;
    margin-top: 50%;
    font-size: 4rem;
    text-align: center;
  }
  .home-subtitle {
    font-size: 2rem;
    text-align: center;
    padding: 10% 10% 0;
  }
  .home-content {
    margin-top: 10%;
    padding: 0 20%;
    font-size: 1.5rem;
    text-align: center;
  }
  .social {
    font-size: 2.5rem;
  }

  /* About */
  .about-container {
    padding-bottom: 100px;
  }
  .about-img {
    height: 300px;
    margin-bottom: 50px;
  }
  .about-title {
    text-align: center;
    padding: 0;
  }
  .about-content {
    text-align: center;
    padding: 30px 30px 0;
    font-size: 1.2rem;
  }
  .logo-container {
    padding-bottom: 200px;
  }

  /* Skills */
  .skill-head {
    font-size: 1rem;
  }
  .skill-subhead {
    padding-bottom: 0;
    font-size: 1.8rem;
  }

  .skill-card {
    margin: 30px;
    width: 100px;
    /* margin-bottom: 50px; */
  }
  .skill-container {
    padding: 10%;
  }
  .skill-icon {
    font-size: 3rem;
    padding-bottom: 0;
  }
  .skill-title {
    font-size: 1rem;
    padding-bottom: 5%;
  }

  /* Promises */
  .promises-title {
    font-size: 3rem;
  }
  .promises-img {
    left: 37%;
  }
  .promises-content {
    font-size: 1.5rem;
    padding: 0 0 30px;
  }

  /* Projects */
  .projects-title {
    padding-top: 5%;
    font-size: 3rem;
  }
  .project-img {
    height: 200px;
  }
  .card-thumb {
    max-height: 200px;
  }
  .project-card:hover .card-caption {
    height: 200px;
  }
  .card-content {
    width: 280px;
  }
  .card-title {
    font-size: 1.2rem;
    padding: 0;
  }
  .card-content {
    font-size: 0.8rem;
    padding: 0;
  }
  .link-button {
    font-size: 1rem;
    padding: 3%;
  }
  .code-button {
    font-size: 1.5rem;
    padding: 1% 2% 3%;
  }

  /* Contact */
  .contact-title {
    font-size: 3rem;
  }
  .contact-sub {
    font-size: 1.8rem;
    margin-bottom: 50px;
  }
  .contact-container {
    padding: 0 15%;
  }
  .contact-img {
    width: 250px;
  }
  .contact-input {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .contact-input input:focus ~ span,
  .contact-input input:valid ~ span {
    transform: translateX(-10px) translateY(-50px);
  }
  .contact-btn {
    font-size: 1.5rem;
  }
}
